@import '../../../../helpers/pxrem.scss';

.value-box {
  width: rem(160);
  padding: rem(10);
  color: #909090;
  background-color: white;
  border-top-left-radius: rem(3);
  border-bottom-left-radius: rem(3);
}
