@import '../../../../helpers/pxrem.scss';

.color-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(50);
  border: none;
  background-color: transparent;
  border-right: rem(1) solid #e8e8e8;
  border-left: rem(1) solid #e8e8e8;
  cursor: pointer;

  .color-button-mark {
    width: rem(15);
    height: rem(15);
  }
}
